@font-face {
    font-family: 'Grown';
    src: url('../fonts/grown.ttf') format('truetype');
}

:root {
    /* VÄRIT */    
        /* Taustavärit */
        --color-cream: #faf0e6; /* Koko sivuston taustaväri */
        --color-coffee: #4b3621; /* Taustaväri Footerille */
        --color-sand: #f5eeda; /* Taustaväri tekstiosioille (määritellään vielä mille)*/
        --color-gold: #e1ad60; /* Taustaväri tekstiosioille (määritellään vielä mille)*/
        
        /* Korostusvärit */
        --color-rust: #b85c38; /* Korostusväri elementille (määritellään vielä mille)*/
        --color-choco: #5d4037; /* Korostusväri elementille (määritellään vielä mille)*/
        --color-yellow: #fffdd0; /* Korostusväri elementille (määritellään vielä mille)*/

        /* TYPOGRAFIA */
        --font-header: 'Grown', 'Playfair Display', serif;
        --font-body: 'Montserrat Classic', sans-serif;
    }

/* FONTIT */
    h1, h2, h3, h4 {
        font-family: var(--font-header);
        /* Fontti pysyy samana, mutta koko ja väri voi vaihdella */
}

    p {
        font-family: var(--font-body);
        /* Fontti pysyy samana, mutta koko ja väri voi vaihdella */
}

body {
    background-color: var(--color-cream);
}

.hero {
	position: relative;
    background-image: url('../images/roastery3.jpg');
    background-position: center 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 50vh;
}

.hero-text {
    text-align: center;
}

.logo img {
    height: 18rem;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 23rem;
    margin-left: 2rem;
}

.navbar {
	width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
	background: rgba(101, 67, 33, 0.7);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

h1 {
	font-size: 5rem;
    margin-bottom: 0;
    color: white;
}

.hero-text p {
	font-size: 2rem;
    margin-top: 0;
    color: white;
}

.nav-links a {
    color: white;
    font-size: 1rem;
	text-decoration: none;
}

.nav-links a:visited {
    color: pink;
}

/* info-section */
.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 1.5rem; 
    background-color: var(--color-sand);
    padding-left: 10rem;
    padding-right: 15rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.text-box1 {
    margin-left: 10rem;
    margin-bottom: 5rem;
}

/* Napit */

.button1 {
	background-color: var(--color-gold);
	color: white;
	padding: 0.75rem 1.5rem;
	border-radius: 8px;
	text-decoration: none;
	font-size: 1rem;
	transition: background-color 0.3s;
}

.button1:hover {
	background-color: rgba(101, 67, 33, 0.7);
}

