/* Muuttujat väreille */
:root {
	--color-hero-bg: #4B3621;
	--color-secondary: #BB5C38;
	--color-mood-1: #5D4037;
	--color-mood-2: #E1AD60;
	--color-mood-3: #FFFDD0;
	--color-mood-4: #F5EEDA;
	--color-mood-5: #FAF0E6;
}

/* Fontit */
@font-face {
    font-family: 'Grown';
    src: url('../fonts/grown.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

.hero {
	position: relative;
	background-color: var(--color-hero-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 20vh;
}

.hero-text {
    text-align: center;
}

.navbar {
	width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.logo {
	align-items: center;
}

.hero-text {
}

body {
	font-family: 'Montserrat', serif;
	color: white;
}


h1 {
	font-family: 'Grown', serif;
	font-size: 3rem;
}

.hero-text p {
	font-size: 1.5rem;
}

.nav-links a {
	font-size: 1rem;
}

